@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "IBMPlexSansKR-Regular";
}
body {
  background-color: #d8f0ed;
  width: 100%;
  height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-wrapper {
  text-align: center;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
.title-wrapper > * {
  margin: 0;
}
.title {
  font-size: 60px;
  color: #8bb6c4;
}
.title-info {
  font-size: 18px;
}
.find-wrapper {
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
}

.fas {
  margin-right: 5px;
}
.find-map-wrapper,
.find-list-wrapper {
  padding: 20px;
}

.find-map:hover,
.find-list:hover {
  cursor: pointer;
}

/* seach-bar */
.search-bar-wrapper {
  position: relative;
  width: 40%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  min-height: 40px;
  border: solid;
  border-color: #c6ece8;
}
.search-bar:focus {
  outline: none;
}
.search-bar-wrapper > .search-bar {
  border-style: none;
  width: 90%;
  font-size: 20px;
}
