@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "IBMPlexSansKR-Regular";
}
html,
body {
  margin: 0;
  height: 100vh;
  width: 100%;
}
/* nav */
.nav {
  background-color: skyblue;
  width: 100%;
  height: 60px;
  opacity: 0.9;
  position: relative;
  z-index: 2;
}
.back-btn-wrapper {
  position: absolute;
  top: 10px;
  left: 15px;
}
.back-btn-wrapper > i {
  font-size: 40px;
  color: white;
}
.back-btn-wrapper:hover {
  cursor: pointer;
}

/* main */
.main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.search-bar-wrapper {
  position: relative;
  top: 80px;
  width: 90%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: white;
  margin: 0 auto;
  border-radius: 20px;
  min-height: 40px;
  box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 0.1);
}
.search-bar:focus {
  outline: none;
}
.search-bar-wrapper > .search-bar {
  border-style: none;
  width: 90%;
  font-size: 20px;
}
.search-btn-wrapper > i {
  font-size: 20px;
  color: skyblue;
}
#map {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

/* popup */
.academy-popup {
  width: 350px;
}
.academy-title {
  font-weight: bold;
  font-size: 18px;
}
.academy-img {
  height: 60px;
  width: 60px;
}
.academy-content {
  display: flex;
  align-items: center;
  padding: 10px 10px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.academy-img-wrapper {
  margin-right: 20px;
}
.academy-process {
  border-radius: 10px;
  padding: 0 5px;
}
.academy-addr {
  white-space: normal;
  max-width: 350px;
  margin: 7px 0;
  font-size: 14px;
}
.academy-num {
  font-size: 14px;
}
.academy-title-wrapper {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.fas-wrapper {
  font-size: 20px;
}
.academy-popup:after {
  content: "";
  position: absolute;
  left: 48%;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}
.close-btn {
  font-size: 30px;
}
.close-btn:hover {
  cursor: pointer;
}

.findRoad-wrapper {
  float: right;
  font-size: 12px;
  margin-top: 10px;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
  display: block;
  border-radius: 10px;
}
.findRoad-wrapper:hover {
  text-decoration: none;
}
.findRoad {
  margin-right: 5px;
}

/* filter */
.info-math,
.info-english,
.info-music,
.info-art,
.info-essay,
.info-etc {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding: 1px 3px;
}
.info_1,
.info_2 {
  margin-bottom: 3px;
}
.info-imgs-math,
.info-imgs-english,
.info-imgs-music,
.info-imgs-art,
.info-imgs-essay,
.info-imgs-etc {
  height: 30px;
  width: 20px;
}
.info {
  display: inline-block;
  border-radius: 10px;
  box-shadow: darkgray;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 90;
  font-family: "IBMPlexSansKR-Regular";
  font-size: 14px;
}
.info-art {
  background-color: #ffafaf;
}
.info-music {
  background-color: #ffc095;
}
.info-math {
  background-color: #adb3ff;
}
.info-etc {
  background-color: #a1ffc7;
}
.info-english {
  background-color: #e58bf4;
}
.info-essay {
  background-color: #81fcfc;
}
.info {
  background-color: rgb(223, 221, 221, 0.7);
  padding: 10px 10px;
}
.info-art:hover,
.info-music:hover,
.info-math:hover,
.info-etc:hover,
.info-english:hover,
.info-essay:hover {
  cursor: pointer;
}

/* loading */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  opacity: 0.7;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
